---
import BaseLayout from '../layouts/BaseLayout.astro';
import Image from '../components/Image.astro';
const genres = await fetch('http://localhost:8080/api/v1/genre',{
	method: 'GET',
}).then((response) => response.json());

---
<BaseLayout title="Genre" description="Genre page">
    <!-- head -->
    <section class="section section--head section--head-fixed">
      <div class="container">
        <div class="row">
          <div class="col-12 col-xl-6">
            <h1 class="section__title section__title--head">Genres</h1>
          </div>

          <div class="col-12 col-xl-6">
            <ul class="breadcrumb">
              <li class="breadcrumb__item"><a href="/">Home</a></li>
              <li class="breadcrumb__item breadcrumb__item--active">Genre</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- end head -->
    <!-- categories -->
    <section class="section section--pb0">
      <div class="container">
        <div class="row row--grid">
          {genres.map((genre:any) => (
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                <a href="#" class="category">
                  <div class="category__cover">
                    <Image
                      src={genre.image + "&fit=cover&w=414&h=280&format=webp&output=webp"}
                      alt={genre.name}/>
                  </div>
                  <h3 class="category__title">{genre.name}</h3>
                  <span class="category__value">{genre.total_movies}</span>
                </a>
            </div>
          ))}
        </div>
      </div>
    </section>
    <!-- endcategories -->
</BaseLayout>