---
import BaseLayout from '../layouts/BaseLayout.astro';
import Image from '../components/Image.astro';
import MovieList from '../components/MovieLoadMore';
import MovieTheme from '../components/MovieTheme';

const domainApi = import.meta.env.PUBLIC_API_GO_URL;
// const movieHot = await fetch(domainApi + '/api/v1/movie-hot',{
// 	method: 'GET',
// }).then((response) => response.json());
const genres = await fetch(domainApi + '/api/v1/genre-home',{
	method: 'GET',
}).then((response) => response.json());
---

 <BaseLayout title="28MOVIE" description="Home page">
	<!-- home -->
	
	<!-- end home -->
	<!-- catalog -->
	<div class="catalog">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="catalog__nav">
						<div class="catalog__select-wrap">
							<select class="catalog__select" name="genres">
								<option value="all">All genres</option>
								{genres.map((genre:any)=>
									<option value={genre.slug}>{genre.name}</option>
								)}
							</select>
							<select class="catalog__select" name="years">
								<option value="All the years">All the years</option>
								<option value="1">'50s</option>
								<option value="2">'60s</option>
								<option value="3">'70s</option>
								<option value="4">'80s</option>
								<option value="5">'90s</option>
								<option value="6">2000-10</option>
								<option value="7">2010-20</option>
								<option value="8">2021</option>
							</select>
						</div>
						<div class="slider-radio">
							<input type="radio" name="grade" id="featured" checked="checked" /><label for="featured">Featured</label>
							<input type="radio" name="grade" id="popular" /><label for="popular">Popular</label>
							<input type="radio" name="grade" id="newest" /><label for="newest">Newest</label>
						</div>
					</div>
					<MovieList client:load />
				</div>
			</div>
		</div>
	</div>
	<!-- end catalog -->
	<!-- themes -->
	<MovieTheme client:only="react" />
	<!-- end themes -->
</BaseLayout>